name: Go
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest
          only-new-issues: true
          args: -E golint --skip-files="_test.go" -e="type name will be used as"
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    env:
      CARBON_VERSION: "1.16.0"
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        go: [1.13, 1.15, 1.16]
    steps:
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        if [ -f Gopkg.toml ]; then
            curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
            dep ensure
        fi

    - name: Get Carbon
      run: |
        mkdir $HOME/carbon
        pushd $HOME/carbon
        wget https://csspeechstorage.blob.core.windows.net/drop/$CARBON_VERSION/SpeechSDK-Linux-$CARBON_VERSION.tar.gz
        tar xzf SpeechSDK-Linux-$CARBON_VERSION.tar.gz
        rm SpeechSDK-Linux-$CARBON_VERSION.tar.gz
        ln -s SpeechSDK-Linux-$CARBON_VERSION current
        popd
    - name: Get Carbon Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libasound2
        sudo apt-get install -y libgstreamer1.0-0 gstreamer1.0-plugins-good
        dpkg -l | grep gstreamer
    - name: Build
      run: |
        export CGO_CFLAGS="-I$HOME/carbon/current/include/c_api"
        export CGO_LDFLAGS="-L$HOME/carbon/current/lib/x64 -lMicrosoft.CognitiveServices.Speech.core"
        export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/carbon/current/lib/x64"
        go build -v ./...
    - name: Test
      env:
        DIALOG_SUBSCRIPTION_KEY: ${{ secrets.DIALOG_SUBSCRIPTION_KEY }}
        DIALOG_SUBSCRIPTION_REGION: ${{ secrets.DIALOG_SUBSCRIPTION_REGION }}
        SR_SUBSCRIPTION_KEY: ${{ secrets.SR_SUBSCRIPTION_KEY }}
        SR_SUBSCRIPTION_REGION: ${{ secrets.SR_SUBSCRIPTION_REGION }}
      run: |
        export CGO_CFLAGS="-I$HOME/carbon/current/include/c_api"
        export CGO_LDFLAGS="-L$HOME/carbon/current/lib/x64 -lMicrosoft.CognitiveServices.Speech.core"
        export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$HOME/carbon/current/lib/x64"
        go test -v ./...
    - name: 'Upload Test Logs'
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: Log-${{ matrix.os }}-${{ matrix.go }}
        path: '**/*.log'
        retention-days: 3
